@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Crown AIO</h1>
    <p class="lead">I am an API application for Crown AIO Project.</p>
    <p><a href="http://crownaio.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

